body {
    width: 100%;
    height: auto;;
    background-color: #252525;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    margin: 0 0 5% 0;
}

header img {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-c{
    text-align: center;
    font-size: 2em;

}

.t-italic {
    font-style: italic;
}

.h1title {
    text-align: center;
    font-size: 2em;
    margin: 2% 0 2% 0;
    background-color: #000000;
    font-family: 'Zhi Mang Xing', cursive;
    padding: 20px;
    margin: auto;
}

a {
    text-decoration: none;
}

strong {
    color: deepskyblue;
}

.grow {
    -webkit-transition: height 1s;
    transition: height 1s;
    overflow: hidden;
}

.btn-style {
    font-size: 1.5em;
    font-family: 'Zhi Mang Xing', cursive;
    text-decoration: none;
    border: none;
    outline:none;
    background: none;
}

.btn-style:hover {
    transition: 1.5s;
    color: cyan;
    font-size: 1.75em;
}

.btn-style:focus {
    border: 0;
    outline:none;
    transition: 1.5s;
}

.btn-style:active {
    border: 0;
    outline:none;
    transition: 1.5s;
}

.btn-style-water {
    font-size: 1.5em;
    font-family: 'Zhi Mang Xing', cursive;
    text-decoration: none;
    border: none;
    outline:none;
    background: none;
}

.btn-style-water:hover {
    transition: 1.5s;
    color: orange;
    font-size: 1.75em;
}

.btn-style-water:focus {
    border: 0;
    outline:none;
    transition: 1.5s;
}

.Geo {
    background: linear-gradient(#726A52 , #282514);
}

.Geo p {
    font-size: 0.8em;
    padding: 1em;
}


.map {
    width: 700px;
    height: auto;
    float: right;
    margin: 25px 25px 30px 25px;
    box-shadow: 10px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.map:hover {
    opacity: 0.3;
}

.bending-arts {
    margin: auto;
}

.air-avatar {
    margin: 0 auto;
    background: linear-gradient(#F9F0ED, #B7B1AB);
}

.a-air-img {
    float: left;
    margin: 10px 20px 3em 20px;
    height: 500px;
    width: auto;
    box-shadow: -10px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.a-air-img:hover {
    opacity: 0.3;
}

.air-avatar p {
    font-size: 0.8em;
    padding: 1em;
    color: black;
}

.water-avatar {
    margin: 0 auto;
    background: linear-gradient(#E2D8BF, rgb(92, 187, 224));
}

.a-water-img {
    float: right;
    margin: 0 20px 3em 20px;
    height: 500px;
    width: auto;
    box-shadow: 10px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.a-water-img:hover {
    opacity: 0.3;
}

.water-avatar p {
    font-size: 0.8em;
    padding: 1em;
    color: black;
}

.water-avatar p a strong{
    color: rgb(255, 0, 0);
}

.earth-avatar {
    margin: 0 auto;
    background: linear-gradient(#C8C06F, #A56231);
}

.a-earth-img {
    float: left;
    margin: 1em 20px 3em 20px;
    height: 500px;
    width: auto;
    box-shadow: -10px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.a-earth-img:hover {
    opacity: 0.3;
}

.earth-avatar p {
    font-size: 0.8em;
    padding: 1em;
    color: black;
}

.fire-avatar {
    margin: 0 auto;
    background: linear-gradient(#F3CE71, rgb(146, 4, 4));
}

.a-fire-img {
    float: right;
    margin: 2em 20px 3em 20px;
    height: 500px;
    width: auto;
    box-shadow: 10px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.a-fire-img:hover {
    opacity: 0.3;
}

.fire-avatar p {
    font-size: 0.8em;
    padding: 1em;
    color: black;
}

.energy-b {
    margin: 0 auto;
    background: linear-gradient(90deg, #AB3D04, #24ECEC);
}

.e-bending-img {
    margin: auto;
    width: auto;
    margin: 1em 1em 0 1em;
    box-shadow: 0px 0px 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.e-bending-img:hover {
    opacity: 0.3;
}

.energy-b p {
    font-size: 0.8em;
    padding: 1em;
    color: black;
}

.s-bending {
    background: linear-gradient(#737475 , rgb(48, 48, 48));
}

.s-bending p {
    font-size: 0.8em;
    padding: 1em;
    color: white;
}

.avatar {
    background: linear-gradient(rgb(95, 175, 214) , rgb(221, 211, 204) , #605752 , #DB9651);
    text-align: center;
    font-size: 2em;
}

.avatar .h1text {
    font-size: 2em;
    clear: right;
    text-align: center;
}

.a-bending {
    display: block;
    width: 500px;
    height: auto;
    margin: 1em auto;
    opacity: 1;
    transition: 400ms;
}

.a-bending:hover {
    opacity: 0.3;
}

.a-bending-2 {
    display: block;
    width: 500px;
    height: auto;
    margin: 1em auto;
    box-shadow: 0 0 10px 10px #000000;
    opacity: 1;
    transition: 400ms;
}

.a-bending-2:hover {
    opacity: 0.3;
}

.avatar p {
    padding: 1.5%;
    font-size: 0.8em;
    color: black;
}

footer {
    background: url(./imgs/footer-bg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
}

.lotus-img {
    width: 1em;
    display: flex;
}

footer a {
    opacity: 0.2;
    transition: 1.2s;
}

footer a:hover{
    transition: 1.2s ease-in-out;
    opacity: 1;
}

@media only screen and (max-width: 480px) {
    .map, .a-bending {
        width:85%;
    }

    .a-air-img, .a-water-img, .a-earth-img, .a-fire-img , .e-bending-img{
        display: block;
        margin: 2em;
        box-shadow: 0px 0px 10px 10px #000000;

    }

    .e-bending-img{
        margin: auto;
    }

    .s-bending-img {
        width: 80%;
    }

    .a-bending-2 {
        width: 80%;
        margin: 1em auto;
        box-shadow: 0px 0px 10px 10px #000000;
    }
}
